/************************** MAIN-PAGE ***************************/

:root {
    --color-white: #FFFFFF;
    --header_studio-color-4d5ae5: #4d5ae5;
    --span_studio-color-2e2f42: #2e2f42;
    --mail-color-434455: #434455;
    --button-All-f4f4fdl: #F4F4FD;
    --section-five-8e8f99: #8e8f99;
    --section-four-404bbf: #404bbf;
    --color-black: #000000;
    --color-aqua: #31d0aa;
}



/*body*/
body {
    font-family: "Roboto", sans-serif;
    color: var(--span_studio-color-2e2f42);
    background-color: var(--color-white);

}


/*link portfoliio , main-page*/
.link {
    text-decoration: none;
}

/*list*/
.list {
    list-style: none;
}


header {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style: none;
}


address {
    font-style: normal;
}


img {
    display: block;
}


nav {
    margin-right: auto;
}



p,
h1,
h2 {
    margin-top: 0;
}

/*============================== HEADER =======================================*/
/*header main-page*/
.header-main-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}


.container-header {
    display: flex;
    align-items: center;

}



/*container*/


.container {
    min-width: 428px;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;


}

/*======================= BURGER (mobile-menu) =====================*/
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        position: absolute;
        right: 0;
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--color-white);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;

}

.mobile-menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    list-style: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.9;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--span_studio-color-2e2f42);
    flex: none;
    order: 1;
    flex-grow: 0;
    top: 16px;
    right: 16px;
}

.mobile-contact {
    display: block;
}

.link-mobile-studio {
    padding: 0;
    margin-left: 10px;
    list-style: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--span_studio-color-2e2f42);
    flex: none;
    order: 1;
    flex-grow: 0;
    top: 16px;
    right: 16px;
    color: var(--header_studio-color-4d5ae5);
    text-decoration: none;
}


.mobile-contacts {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.mobile-contacts-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.mobile-contact {
    margin-bottom: 48px;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--span_studio-color-2e2f42);
}


.header-main-page .container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/***************** media/ Mobile **************************/


@media screen and (max-width: 768px) {

    .menu-mobile,
    .contacts {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    .menu-mobile,
    .contacts {
        display: flex;
    }
}


@media screen and (min-width:768px) {
    .menu-mobile {
        display: flex;
        gap: 0px;
    }
}

@media screen and (max-width:1158px) {
    .container-section-third {
        display: none;
    }
}



@media screen and (max-width:768px) {
    .ul-second-list {
        font-weight: 700;
        font-size: 36px;
        line-height: 0.9;

        text-transform: capitalize;
    }
}

@media screen and (max-width:768px) {
    .hero_main_page {
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .text-main_page {
        width: 396px;
        padding-top: 8px;
        padding-bottom: 72px;

    }
}

/*** menu-socials ***/
.mobile-socials {
    margin-top: 48px;
    display: flex;
    justify-content: flex-start;
    gap: 86px
}



/******************** tablet *************************/
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:768px) and (max-width: 1158px) {
    .ul-second-list {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }
}

/*** nav-header-tablet ***/
@media screen and (min-width: 768px) {
    .address_contacts {
        margin-right: 0;
    }
}


/**** section 3 ****/


/********************* desktop ********************/



@media screen and (min-width : 1158px) {
    .container {
        max-width: 1200px;

    }
}

@media screen and (min-width : 1158px) {
    .container {
        margin-left: 80px;
    }
}




/**** section 4 ****/
@media screen and (max-width:1158px) {
    .container-hero {
        display: none;
    }
}

/**** address-desktop ****/

@media screen and (min-width:1158px) and (min-width:1400px) {
    .address_contacts {
        display: flex;
        gap: 40px;
    }
}

@media screen and (min-width:1158px) {
    .ul-second-list {
        display: flex;
        gap: 72px 24px;
    }
}






/*=====================================================================*/


/*address*/
.header-list {
    display: flex;
    gap: 40px;
}


.link-contacts:hover,
.link-contacts :focus {
    color: var(--section-four-404bbf);
}



/*webstudio*/
.logo_studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: var(--header_studio-color-4d5ae5);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    margin-bottom: 0;

}

/*studio*/

.studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: var(--span_studio-color-2e2f42);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.nav-header {
    display: flex;
    align-items: center;
}

/*menu-list*/

.header_studio {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--span_studio-color-2e2f42);

    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}



.header_studio:hover,
.header_studio:focus {
    color: var(--section-four-404bbf);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.first-list,
.second-list {
    color: var(--section-four-404bbf);
}


.first-list::after,
.second-list::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -1px;
    background-color: var(--section-four-404bbf);
    border-radius: 2px;
    margin-top: 24px;
}



/*mail*/
.link-contacts {
    color: var(--mail-color-434455);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.link-contacts:hover,
.link-contacts:focus {
    color: var(--section-four-404bbf);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    margin-left: 0;
    gap: 40px;
}


/*============================= SECTION 1 ========================================*/
.section_main_page_title {
    background-color: var(--span_studio-color-2e2f42);
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/peopleoffice.jpg");
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*h1*/
.h-section-first {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

/*button(Main page)*/
.btn_main_page {
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--header_studio-color-4d5ae5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    margin: 0 auto;
}


/*============================= SECTION 2========================================*/
.section_main_page-second {
    padding-top: 96px;
    padding-bottom: 120px;
}

/*********** menu-list***********/
/*********** menu-img***********/
/*********** menu-item***********/
/*.ul-second-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}*/



.list-paragraph {
    width: calc(((100% - 120px) / 4));
    width: 356px;
}


.container-hero {
    align-items: center;
    width: 264px;
    height: 112px;
    justify-content: center;
    background-color: var(--button-All-f4f4fdl);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 24px 100px;

}

@media screen and (max-width: 1158px) {

    .hero_main_page {
        font-weight: 700;
        color: var(--span_studio-color-2e2f42);
        font-size: 36px;
        text-align: left;
        line-height: 0.9;
        letter-spacing: 0.02em;
        margin-top: 0;
        margin-bottom: 8px;
    }
}

.hero_main_page {
    font-weight: 500;
    color: var(--span_studio-color-2e2f42);
    font-size: 20px;
    text-align: center;
    line-height: 0.8;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px;
}

@media screen and (max-width: 1158px) {
    .text-main_page {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        margin: 0;
    }
}

.text-main_page {
    font-size: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0;
}


@media screen and (min-width:768px) {
    .hero_main_page {
        padding-bottom: 8px;
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .text-main_page {
        padding-top: 2px;
        text-align: center;
    }
}

/*============================== SECTION 3=======================================*/
.section_main_page {
    padding-top: 0;
}

/*h2 What are doing;
 Our team*/
.list_main_page {
    font-size: 36px;
    color: var(--span_studio-color-2e2f42);
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
}

.section-third-list {
    display: flex;
    gap: 24px;
}

.portfolio_link {
    width: calc((100% - 48px) / 3);
}

/*=========================== SECTION 4==========================================*/
.section_team {
    padding-bottom: 120px;

    background-color: var(--button-All-f4f4fdl);
}

/*our team*/
.list_main_page-dreamteam {
    font-size: 36px;
    color: var(--span_studio-color-2e2f42);
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;

}

.text-main_page-dreamteam {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.hero_main_page-dreamteam {
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.container-section-fourth {
    justify-content: space-between;
    background-color: var(--color-white);
    gap: 24px;
    align-content: stretch;
    align-items: center;
}

/**************** mobile *****************/
@media screen and (min-width:1158px) {
    .container-section-fourth {
        justify-content: space-between;
        background-color: var(--button-All-f4f4fdl);
        gap: 24px;
        align-content: stretch;
        align-items: center;
    }
}

@media screen and (max-width:768px) {
    .container-section-fourth {
        background-color: var(--button-All-f4f4fdl);
    }
}

@media screen and (max-width:428px) {
    .hero_main_page-dreamteam {
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }
}

@media screen and (max-width:428px) {
    .text-main_page-dreamteam {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }
}

/*div*/
.container-section-fourth {
    justify-content: center;
    gap: 24px;
}

/*li*/

@media screen and (min-width: 330px) {
    .dreamteam_main_page {
        background-color: var(--color-white);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}


/*div*/
.container-dreamteam {
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: baseline;
}

@media screen and (max-width: 768px) {
    .container-dreamteam {
        display: flex;

        padding: 32px 30px;

    }
}


/*h3*/

@media screen and (max-width:768px) {

    .hero_main_page-dreamteam {
        display: flex;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }
}

/*p*/

@media screen and (max-width:768px) {
    .text-main_page-dreamteam {
        display: flex;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }
}



/***********social************/
/*ul*/
@media screen and (min-width: 768px) {

    .social-media-list {
        background-color: var(--color-white);

        display: flex;
        justify-content: center;
        gap: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width:1158px) {
    .social-media-list {
        background-color: #F4F4FD;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .social-list {
        display: inline-block;
    }
}

/*li*/
.social-list {
    width: 40px;
    height: 40px;
}

/*a*/
.link-social {
    width: 100%;
    height: 100%;
    background-color: var(--header_studio-color-4d5ae5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-social:hover,
.link-social:focus {
    background-color: var(--section-four-404bbf);
}




/* svg-section-4 */
.icons-social {
    fill: var(--button-All-f4f4fdl);
}

.link-social:focus {
    background-color: var(--section-four-404bbf);
}


/*=========================== SECTION 5 ==========================================*/
.container-five-section {}

/*section*/
.five-section {
    padding-top: 120px;
    padding-bottom: 120px;
}



/*h2*/
.customers {
    margin: 0;
    font-size: 36px;
    line-height: 1.1;
    color: var(--span_studio-color-2e2f42);
    margin-bottom: 72px;
    text-align: center;
}


/*ul*/
.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}


@media screen and (min-width:768px) {
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}


/*li*/

@media screen and (max-width:768px) {
    .first-list-costumers {
        width: calc((100% - 16px) / 2);
        width: 190px;
        height: 88px;
        list-style: none;
    }
}

@media screen and (min-width:768px) {
    .first-list-costumers {
        width: calc((100% - 48px) / 3);
        width: 168px;
        height: 88px;
        list-style: none;
    }
}


@media screen and (min-width:1158px) {
    .first-list-costumers {
        width: calc((100% - 120px) / 6);
        height: 88px;
        list-style: none;
    }
}






/*a*/
.link-section-five {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--section-five-8e8f99);
}

/*svg-section-5*/
.icons-logo {
    fill: currentColor;
}

/*a*/
.link-section-five:hover,
.link-section-five:focus {
    border-color: var(--section-four-404bbf);
    color: var(--section-four-404bbf);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



/*============================= FOOTER ========================================*/
footer {
    position: relative;
}

/*div-footer*/
@media screen and (min-width:768px) {
    .footer-container {
        display: block;
    }
}

@media screen and (min-width:428px) and (max-width:1158px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:1158px) {
    .footer-container {
        display: flex;
        flex: nowrap;
    }
}

/*************** SOCIAL *************/
/*p social-media*/
.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-top: 0;
    margin-bottom: 16px;
}

/*ul*/
.social-media-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;

}


/*a (social-media) */
.link_social_footer:hover,
.link_social_footer:focus {
    border-color: var(--section-four-404bbf);
    color: var(--section-four-404bbf);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/*a (social) link*/
.link-social-footer {
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--header_studio-color-4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-social-footer:focus,
.link-social-footer:hover {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*******************SUBSCRIBE*********************/

/************** form *******************/

.form-subscribe {
    align-items: center;
}

@media screen and (min-width:768px) and (max-width:1158px) {
    .form-subscribe {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .form-subscribe input {
        padding-left: 16px;
    }
}

@media screen and (min-width:1158px) and (max-width:1400px) {
    .form-subscribe {
        display: flex;
    }
}

/*************** p ******************/
.text-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-top: 0;
    margin-bottom: 16px;
}

@media screen and (min-width:768px) and (max-width:1400px) {
    .text-subscribe {
        font-weight: 500;
        text-align: left;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-white);
        margin-top: 0;
        margin-bottom: 16px;
    }
}



/************ div-input ****************/
.container-subscribe {
    text-align: center;
    margin-bottom: 72px;
}


.container-subscribe input {
    display: flex;
    justify-content: center;
    width: 398px;
    height: 40px;
    background-color: #2e2f42;
    outline: none;
    border: 1px solid#FFFFFF;
    padding: 4px;
    border-radius: 4px;
    color: var(--color-white);
}

@media screen and (min-width:768px) {
    .container-subscribe input {
        display: flex;
        justify-content: center;
        width: 398px;
        height: 40px;
        background-color: #2e2f42;
        outline: none;
        border: 1px solid#FFFFFF;
        padding: 4px;
        border-radius: 4px;
        color: var(--color-white);
    }
}

@media screen and (min-width:1158px) {
    .container-subscribe input {
        display: flex;
        justify-content: center;
        width: 264px;
        height: 40px;
        background-color: #2e2f42;
        outline: none;
        border: 1px solid#FFFFFF;
        padding: 4px;
        border-radius: 4px;
        color: var(--color-white);
    }
}

/************** email-subscribe *****************/
.container-subscribe input::placeholder {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding-top: 8px;
    letter-spacing: 0.04em;
    color: var(--background-color-main_page-ffffff);
}


.button-subscribe {
    height: 40px;
    margin-left: 131px;
    margin-top: 16px;
    background: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 8px 24px;
    gap: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
}

/********* cursor-subscribe***************/
.form-subscribe input {
    padding-left: 16px;
}

@media screen and (min-width:1158px) {
    .form-subscribe input {}
}


.button-subscribe:hover,
.button-subscribe:focus,
.btn_main_page:hover,
.btn_main_page:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}


/*******************WEBSTUDIO*********************/
.footer_studio {
    background-color: var(--span_studio-color-2e2f42);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.footer_studio {
    background-color: var(--span_studio-color-2e2f42);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
}




.footer_logo_studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: var(--button-All-f4f4fdl);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}


/*logo-paragraph*/
.div-logo-paragraph {
    margin-bottom: 72px;
}

.footer-social {
    margin-left: 97px;
    text-align: center;
    margin-bottom: 72px;
}

.logo_studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: var(--header_studio-color-4d5ae5);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 0;
    margin-bottom: 16px;
    display: inline-block;
}

@media screen and (max-width:1158px) {
    .logo_studio-footer {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        color: var(--header_studio-color-4d5ae5);
        font-size: 18px;
        text-align: center;
        width: 410px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 0;
        margin-bottom: 16px;
        display: inline-block;
    }
}

.footer-paragraph {
    margin-top: 0;
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin: 0;
}

@media screen and (max-width:1158px) {
    .footer-paragraph {
        font-size: 16px;
        color: #F4F4FD;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 268px;
        margin-left: 72px;
    }
}



/******************modal********************/
.container-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}


.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;

}


.close-btn:hover,
.close-btn:focus {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    background-color: #404BBF;
    border: none;
    border-color: transparent;
}

.close-btn-icons {
    fill: currentColor;
}

.close-btn-icons:hover,
.close-btn-icons:focus {
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/***************** modal-label *************************/

/************(text-over input)**********************/


input:hover+.icons-modal,
input:hover+.icons-modal-svg {
    fill: var(--header_studio-color-4d5ae5);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/**************** icons ********************/
.icons-modal {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: var(--span_studio-color-2e2f42);
}

.icons-modal-svg {
    position: absolute;
    top: 45%;
    left: 16px;
    fill: var(--span_studio-color-2e2f42);
}


/***********p*************/
.text-modal {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}


/********************* form **********************/

/******* label(name,phone,email,comment) ***********/

.label-form-modal {
    position: relative;
    display: block;
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--section-five-8e8f99);
}

.label-form {
    display: block;
    margin-top: 4px;

}


/**************** icon changes to another color ***********************/
.label-form:hover .icons-modal:hover,
.label-form:hover .icons-modal-svg:hover,
.label-form:focus-within .icons-modal,
.label-form:focus-within .icons-modal-svg {
    fill: var(--header_studio-color-4d5ae5);



}


/**********border,cursor*************/
.label-form input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 4px;
    padding-left: 38px;
    border-radius: 4px;
}


.label-form input+.icons-modal:hover {
    fill: var(--header_studio-color-4d5ae5);


}


.label-form input:hover,
.label-form input:focus,
.div-form-comment textarea:hover,
.div-form-comment textarea:focus {
    border-color: var(--header_studio-color-4d5ae5);
    border-radius: 4px;

}

.div-form-comment {
    margin-bottom: 16px;
}

/*************** comment *******************/
.div-form-comment .label-form-modal {
    margin-bottom: 4px;
}

textarea {
    padding-top: 8px;
}


.div-form-comment textarea {
    width: 100%;
    height: 120px;
    margin-top: 4px;

    padding-left: 16px;
    outline: none;
    border-color: rgba(46, 47, 66, 0.4);
    display: block;
    border-radius: 4px;
    resize: none;
}

.div-form-comment textarea::placeholder {
    position: absolute;
    font-family: 'Roboto';

    color: rgba(46, 47, 66, 0.4);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

/************** checkbox *****************/

/*********** div-checkbox ***************/
.checkbox-modal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.modal-checkbox-label::before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-top: -2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked+.modal-checkbox-label::before {
    background-color: var(--section-four-404bbf);
    border: 1px solid var(--section-four-404bbf);
    border-radius: 2px;
    background-image: url(../images/SVG/work06/Vector.svg);
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.modal-checkbox-input:focus+.modal-checkbox-label::before {
    border: 1px solid #404BBF;
    border-radius: 2px;
}

/************ text-checkbox-link ************/
.modal-checkbox-label {
    display: flex;
    flex-direction: row;
}

.text-checkbox-link {
    margin-left: 2px;
    color: var(--header_studio-color-4d5ae5);
}


/*************** button-send  ****************/
.btn_main_page-modal {
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--header_studio-color-4d5ae5);
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;

}

.btn_main_page-modal:hover,
.btn_main_page-modal:focus {
    background-color: var(--section-four-404bbf);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}




/*2 page*/

/*============================ PORTFOLIO =========================================*/
/************** main *************/
.menu-list {
    display: flex;
    gap: 40px;
}


.section_portfolio {
    color: #FFFFFF;
    padding-top: 96px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*ul*/
.content-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}


/*button(portfolio)*/
.btn_portfolio {
    font-family: "Roboto", sans-serif;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--header_studio-color-4d5ae5);
    background-color: var(--button-All-f4f4fdl);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.btn_portfolio:hover,
.btn_portfolio:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}


/*list-pictures*/
.list-portfolio {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

/*li*/
.portfolio-list {
    width: calc((100% - 48px) / 3);
}


/*a*/
.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*div*/
.container-portfolio {
    position: relative;
}

.container-portfolio_card {
    position: relative;
    overflow: hidden;
}


/*p*/
.portfolio-text {
    position: absolute;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    left: 0;
    top: 0;
    width: 360px;
    height: 300px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-link:hover .portfolio-text,
.portfolio-link:focus .portfolio-text {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.container-addition {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

/*h2*/
.h_portfolio {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: 0.02em;
    color: var(--span_studio-color-2e2f42);
}

/*p*/
.p_portfolio {
    font-size: 16px;
    color: var(--mail-color-434455);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;


}


.footer {
    font-family: 'Raleway', sans-serif;
    color: var(--header_studio-color-4d5ae5);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/************* MAIN PAGE & PORTFOLIO ****************/